@tailwind base;
@tailwind components;
@tailwind utilities;

article {
  display: block;
  padding-top: 5rem;
  padding-bottom: 8rem;
}

@media screen and (max-width: 480px) {
  article {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.autohyphens {
  hyphens: auto;
}

.dark a:hover {
  opacity: 0.6;
  transition: opacity .2s ease;
}